<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8686e/control/0/plot" value="false" />
    <add key="/lpc/it8686e/control/1/plot" value="false" />
    <add key="/lpc/it8686e/control/2/plot" value="false" />
    <add key="/lpc/it8686e/control/3/plot" value="false" />
    <add key="/lpc/it8686e/control/4/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/atigpu/5/temperature/0/plot" value="false" />
    <add key="/atigpu/5/temperature/1/plot" value="false" />
    <add key="/atigpu/5/temperature/2/plot" value="false" />
    <add key="/atigpu/5/temperature/3/plot" value="false" />
    <add key="/atigpu/5/temperature/7/plot" value="false" />
    <add key="/atigpu/5/temperature/8/plot" value="false" />
    <add key="/atigpu/5/temperature/9/plot" value="false" />
    <add key="/atigpu/5/power/0/plot" value="false" />
    <add key="/atigpu/5/fan/0/plot" value="false" />
    <add key="/atigpu/5/control/0/plot" value="false" />
    <add key="/atigpu/5/clock/0/plot" value="false" />
    <add key="/atigpu/5/clock/1/plot" value="false" />
    <add key="/atigpu/5/voltage/0/plot" value="false" />
    <add key="/atigpu/5/load/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="770" />
    <add key="mainForm.Location.Y" value="279" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8686e/voltage/0/plot" value="false" />
    <add key="/lpc/it8686e/voltage/1/plot" value="false" />
    <add key="/lpc/it8686e/voltage/2/plot" value="false" />
    <add key="/lpc/it8686e/voltage/3/plot" value="false" />
    <add key="/lpc/it8686e/voltage/4/plot" value="false" />
    <add key="/lpc/it8686e/voltage/5/plot" value="false" />
    <add key="/lpc/it8686e/voltage/6/plot" value="false" />
    <add key="/lpc/it8686e/voltage/7/plot" value="false" />
    <add key="/lpc/it8686e/voltage/8/plot" value="false" />
    <add key="/lpc/it8686e/temperature/0/plot" value="false" />
    <add key="/lpc/it8686e/temperature/1/plot" value="false" />
    <add key="/lpc/it8686e/temperature/2/plot" value="false" />
    <add key="/lpc/it8686e/temperature/3/plot" value="false" />
    <add key="/lpc/it8686e/temperature/4/plot" value="false" />
    <add key="/lpc/it8686e/temperature/5/plot" value="false" />
    <add key="/lpc/it8686e/fan/0/plot" value="false" />
    <add key="/lpc/it8686e/fan/1/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/level/0/plot" value="false" />
    <add key="/hdd/0/data/1/plot" value="false" />
    <add key="/hdd/0/data/2/plot" value="false" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/hdd/0/level/0/values" value="" />
    <add key="/hdd/0/data/1/values" value="" />
    <add key="/hdd/0/data/2/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/0/factor/1/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/atigpu/5/control/0/values" value="H4sIAAAAAAAEAHN6y9u/5vNdDwaGA/9TtWIZGcBAxumBkQAPjC26YLeuPZh94D/PYWu4mqQb3ZwwNgCxs/m1SAAAAA==" />
    <add key="/atigpu/5/load/1/values" value="" />
    <add key="/atigpu/5/load/0/values" value="H4sIAAAAAAAEAHN6y9u/5vNdDwaGA/9TtWIZGcDAwUH7chITAxSo/9Fgh7H7klug4g0Oogt269qD2Qf+b7lmDdXr4Tg7Aa7XseoJjB3glMQIY5c4OtelQNk+jgA3PXgohAAAAA==" />
    <add key="/atigpu/5/voltage/2/values" value="" />
    <add key="/atigpu/5/voltage/1/values" value="" />
    <add key="/atigpu/5/voltage/0/values" value="H4sIAAAAAAAEAHN6y9u/5vNdDwaGA/9TtWIZGYAgPS3N/oGRAA+MLbpgt649iANUs+WaNVhNYG+6/eyEJCYYu+oJhA1Sv7T+GAuMDQDInhaJYAAAAA==" />
    <add key="/atigpu/5/clock/2/values" value="" />
    <add key="/atigpu/5/clock/1/values" value="H4sIAAAAAAAEANt1k7d/zee7HgwMB/6/tY1lZACBA7dcHhgJ8MDYogt269pDOP+3XLOGq9l1pJsTxgYAD/FADEgAAAA=" />
    <add key="/atigpu/5/clock/0/values" value="H4sIAAAAAAAEANt1k7d/zee7HgwMB/6/tY1lZACDac4PjAR4YGzRBbt17cHsA/+3XLMGqwkSqXWZnZDEBGLLdda6VD2BsB9aVbskMULYSziqXZzrUsDs1z8rXQAWYqvNbAAAAA==" />
    <add key="/atigpu/5/fan/0/values" value="H4sIAAAAAAAEANt1k7d/zee7HgwMB/47a8UyMoDAjzcuZy8lMYHZDm9dWDsR7FdroewNb1w8jiZD2BJvXdrKW5hgekUX7Na1B3MO/Oc5bA0x88AbF+cSqN4Lb1zeX4CyX7xxeSsCZZ9446KRlQJh33jjAgAet87onAAAAA==" />
    <add key="/atigpu/5/power/4/values" value="" />
    <add key="/atigpu/5/power/3/values" value="" />
    <add key="/atigpu/5/power/2/values" value="" />
    <add key="/atigpu/5/power/1/values" value="" />
    <add key="/atigpu/5/power/0/values" value="H4sIAAAAAAAEANt1k7d/zee7HgwMB/47a8UyMgCBjvZbx8P7kphA7GNHXjiKdkLY06e9cHy7FsKePeuFo/vRZDD79KkXjl/KW8DsG9dfOh6Yv1vXHsQBmrnwkDXYzHVrVJx6OyB6nzxSckrZC2EXFig4HRGBsPftVXI6lpkCZh/Yp+gEACWwk4acAAAA" />
    <add key="/atigpu/5/temperature/9/values" value="H4sIAAAAAAAEANt1k7d/zee7HgwMB/43iMUyMkCA03RtAR4Y+82u3br2YOaB/wsPWUPVSDj1diQxQdjSTil7EewjIjC2jNOxzBQ4GwARu9vrbAAAAA==" />
    <add key="/atigpu/5/temperature/8/values" value="H4sIAAAAAAAEANt1k7d/zee7HgwMB/43iMUyMkCA03RtAR4Y+82u3br2YOaB/wsPWUPVSDj1diQxQdjSTil7EewjIjC2jNOxzBQ4GwARu9vrbAAAAA==" />
    <add key="/atigpu/5/temperature/7/values" value="H4sIAAAAAAAEANt1k7d/zee7HgwMB/43iMUyMkCA03RtAR4Y+82u3br2YOaB/5/WWUPVSDjZzEligrClnY6vRLC7RGBsGae5tSlwNgA1XhiQbAAAAA==" />
    <add key="/atigpu/5/temperature/6/values" value="" />
    <add key="/atigpu/5/temperature/5/values" value="" />
    <add key="/atigpu/5/temperature/4/values" value="" />
    <add key="/atigpu/5/temperature/3/values" value="H4sIAAAAAAAEADM8xtu/5vNdDwaGA/85tWIZGSDAabq2AA+M3b9ot649mHngv/9xa6gaCSebOUlMELa00/GVCHaXCIwt4zQ1MwXOBgDUbC4pbAAAAA==" />
    <add key="/atigpu/5/temperature/2/values" value="H4sIAAAAAAAEADM8xtu/5vNdDwaGA/85tWIZGSDAabq2AA+M3b9ot649mHngv/9xa6gaCSebOUlMELa00/GVCHaXCIwt4zQ1MwXOBgDUbC4pbAAAAA==" />
    <add key="/atigpu/5/temperature/1/values" value="H4sIAAAAAAAEADM8xtu/5vNdDwaGA//TxWIZGSDAydJegAfG7l+0W9cezDzw3/+4NVSNhNOmjiQmCFvaKXUlgl2mAWPLOE3NTIGzASjbgeFsAAAA" />
    <add key="/atigpu/5/temperature/0/values" value="H4sIAAAAAAAEADM8xtu/5vNdDwaGA//TxWIZGSDAydJegAfG7l+0W9cezDzwP2GzNVSNhNPCOUlMELa0U+pKBPusCIwt42RXmwJnAwBAO/2ZbAAAAA==" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAJO6xNO/5vNdDwaGA//ruOIYGaBgn7YAD4x9dd4uXXsw68D/qadsoGpWOCyck8QEYc9wSF0JY3c4nBVBsO1qU6DsBgcAZfj3KGwAAAA=" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAJO6xNO/5vNdDwaGA//ruOIYGYAgX6jZep+2AA+MfXXeLl17EAeoZuopG7gawRvdnDA2AELhRc5IAAAA" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAJO6xNO/5vNdDwaGA//ruOIYGUBgwTIXnX1JTBB2hItqGYy9zCX3uxc7jH113i5dezDnwP+pp2zgegVvdHPC2ADC0pXzYAAAAA==" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAJu+j6d/zee7HgwMB/4zysUxMoDBCed92gI8MPbVebt07cHsA/+nnrKBqDng6LJwThITjG3VBGUD1f+wRrDtalPgagBaTbAcbAAAAA==" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/0/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="" />
    <add key="/atigpu/0/temperature/1/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAJvY9rdvzee7HgwMB/6vOc3KxAAEfe9ZHBfuTAKz70SyOK5vgrCNwlgdI+sh7HPLWRwnrUwDs9tNWBxrZ0/WtwdxgOawz3nKCGJNbJdxZDgDUb9ktoxj6hoI2xzIPvg9EczeXyXjCABKqS+ohAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAJvY9rdvzee7HgwMB/6vOc3KxAAEIcIfHBbuTAKzd9h9dFjfBGHzuL13iKyHsK8s+uAwaWUamJ3U+dGhdvZkfXsQB2gO+5ynjCCW3+MDDgxnIOo1dh9wSF0DYTPtOeBw8HsimP3pzwEHAE0YqJeEAAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAJvY9rdvzee7HgwMB/6vOc3KxAAEnWdtnRbuTAKzbXbZOa1vgrDttG2dIush7L92dk6TVqaB2c5f7ZxqZ0/WtwdxgOawz3nKCGLJ1Es4MZyBqI+Pl3BKXQNhcydIOB38nghmJ02WcAIAaowXA4QAAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAEtm/du35vNdDwaGA/9v+bAxMQDBRoU21wCboywwdmR9Elj8n0Oj66SVaXB29fdJ+vYgDlAvp8MzRhCrOqDYleEMRD2InboGwl61ONn14PdEuDgACk7VRXgAAAA=" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAEtm/du35vNdDwaGA/9v+bAxMQBBWdkj+4U7k8Dsm+fd7dc3QdgvetnsI+sh7GUHdtlPWpkGZh9/8N3u5uNJ+vYgDtCc1cHPGEEszbr79gxnIOoPfDhhn7oGwp6jv9j+4PdEMDsueLc9AIJgeLaEAAAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAEtm/du35vNdDwaGA//dvdmYGIBg2/U6V5PdSXB2QCOEvVGhzZWpHsIOkCh19VidBmfffDxJ3x7EAZqzOvgZI4hVHVDsynAGoh7ETl0DYdtWhrsKfUsEs/nU0l0BKc7JL4QAAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAEtm/du35vNdDwaGA//dvdmYGIAg2yXY3mR3Epgt3y1rH9AIYdcsVLdnqoewUwT22HusTgOzn3EJ2998PEnfHsQBmrM6+BkjiHWYY689wxmI+pzAJvvUNRB2VYWKvdC3RDB71lU/ewAZjtn1hAAAAA==" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAHv070/fms93PRgYDvzf48/GxAAEGxXaXB32JoHZ26/XucrUI9jsUPbSdemu5WvTwOxfLlGuNx9P0rcHcYDmcAQ9YwSx+NXSXRefhahf9DvKNbAZwrarDHc1koWwTS/6uQIAMoIV/oQAAAA=" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAHv070/fms93PRgYDvzf48/GxAAEE5TL7B32JoHZz9je2snUQ9hl5W/s2KFsl9+b7MvXpoHZO96utbv5eJK+PYgDNIcj6BkjiMW24q794rMQ9T580+wDmyFs165keyNZCHtDc789AKte7biEAAAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAJP88advzee7HgwMB/4zhrIxMQDBRoU21yP7ksDsfw6NrnaVEHaARKmrVTOCrbQ+Dcxeui7ddf2xSfr2IA7QHJG0Z4wg1qLfUa5CUUdZYOwZ0hC9/GrprgDyRWMveAAAAA==" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAJP88advzee7HgwMB/4zhrIxMQCB9IHfdkf2JYHZOscu2dlVQtgzBMXtrZoh7J3rd9orrU8Ds2vfc9ivPzZJ3x7EAZojkvaMEcRKKLtuf/AaRL3IvyP2gVC9c8K32M+Qhpoz7bg9AB8gODeEAAAA" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEALvz6k/fms93PRgYDvxfmcDGxAAEPHmFrpEHksDsfw6Nrrt+HWGBsbnmpoHFl65Ld229NUnfHsQB6hVJe8YIYvGppbsevAbRWx1Q7BrYDGEv+h3l+k0SwQYATXfyBHgAAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEALvz6k/fms93PRgYDvxfmcDGxAAEdkdk7CMPJIHZ5+4I2dtVQthHK3Lsaxoh7NU1H+y55qaB2RO2KNm33pqkbw/iAM0RSXvGCGJxu323P3gNon6T3yH7wGYIe6P2MvtvkhC2NOdBewBgv4NEhAAAAA==" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEALvz6k/fms93PRgYDvxPi2VjYgCCjQptrnMOJ4HZ/xwaXe0qEezr+RB2gESp6/p1aXDx10cn6duDOEBz1lU9YwSxqgOKXQ9eg6jnU0t3PRANYfMD2a62EDZIDQBOJ+AlhAAAAA==" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEALvz6k/fms93PRgYDvxPi2VjYgCC/jc69nMOJ4HZGS/k7e0qIewmliL76/kQtir7Xfv169LA7IrHAfavj07StwdxgOasq3rGCGKtPcbkcPAaRH0WN6vDgWgIO87hjr2rLVTc+JM9ADPPxVOEAAAA" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAHPd8Kdvzee7HgwMB/7/WMjGxAAEO/ascli4MwnMXssY57C+CcJ2sG92iKyHsH/LizlOWpkGZmfPi3BwLZukbw/iAM2xP/iMEcQSP6/pyHAGor4pjM8xdQ2ErVX73OHg90Qwe/EiVkcA8yjaCYQAAAA=" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAHPd8Kdvzee7HgwMB/7/nc7GxAAE6Z2MjnMOJ4HZ67hvOthVQtjaf345XM+HsGWkLRzXr0sDs3PO33eQ7pqkbw/iAM2p2/aMEcRaebPT8eA1iPqVByscD0RD2EVv4h1dbSHsI80FjgDE9nmchAAAAA==" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEANs350/fms93PRgYDvy/Pp2NiQEEFEScPK8nQdgO/E52lVA2A7fT9XyE+Pp1aRB2A69Ts9UkfXsw58B/MbbnjGBmAo/TwWtQ9QncTgeioewHXE6utlC2ApcTAK8Kq+eEAAAA" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAPv893vfms93PRgYDvxfZMbNxAAEn571OXpeTwKzGQ5oONpVwtgrHK7nQ9kPXBzXr0sDs5OWr3UovVGrbw9R9F8l4zcjiLXg9inHg9cg6ots9joeiIaw53X0O7raQthLpLc4AgD1cQrVhAAAAA==" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAPv893vfms93PRgYDvxfZMbNxAAEUcJHHDyvJ4HZDAc+O9hVQtkO5xyu50PZD1wc169LA7OLki45lN6o1beHaPivkvGbEcTK0L3tePAaRP3Rvi7HA9FQvQqSjq62EPay4EhHANWcAlKEAAAA" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAPv893vfms93PRgYDvxfZMbNxAAET3x/OHheTwKzGRp2O9hVwtidDtfzoewEC8f169LA7GudHQ6lN2r17cESB/6rZPxmBLFWndzlePAaRH0VS5vjgWgIW++Wo6OrLYQd5D7LEQDoXqpOhAAAAA==" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAPv893vfms93PRgYDvxfZMbNxAAEk350O3heTwKzGRquONhVQtkM6x2u58PYiY7r16WB2dc8zzqU3qjVtweLH/ivkvGbEcRa1THZ8eA1qHqHOY4HoqFsgW5HV1sI+4zjdkcAsmDsRoQAAAA=" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAPv893vfms93PRgYDvxfZMbNxAAEHzmfOXheTwKzGRgeOthVQtkLVB2v50PZBn2O69elgdnCuzkcS2/U6tuDJQ78V8n4zQhiZT9e7XjwGlR9wg7HA9FQ9ocFjq62EHbLyROOAGZi9KqEAAAA" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAPv893vfms93PRgYDvxfZMbNxAAEjgwsjp7Xk8BsBofnDnaVUDbDeofr+VD2hbmO69elgdlzZ/A5lt6o1bcHSxz4r5LxmxHEeuH/yfHgNaj6ht2OB6Kh7AVLHV1tIewmgUuOAEQan9KEAAAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAJN/9b1vzee7HgwMB/6XeXEzMYBAA6ej5/UkMDtq6nsHu0oo++sxh+v5EPbqW5mO69elgdmGYtccuo/U6tuDNR/4z1fzmxHEOiF+2PHgNYh6979LHA9EQ9ifCpocXW0hbKk7axwByNRQO4QAAAA=" />
    <add key="/lpc/it8686e/control/4/values" value="" />
    <add key="/lpc/it8686e/control/3/values" value="" />
    <add key="/lpc/it8686e/control/2/values" value="H4sIAAAAAAAEALM4sL5vzee7HgwMB/7HlgQzMYDBDUfe/D5OGLvnnKq+PZh94D9vEULNvUh1dhgbAAnFUxZIAAAA" />
    <add key="/lpc/it8686e/control/1/values" value="" />
    <add key="/lpc/it8686e/control/0/values" value="" />
    <add key="/lpc/it8686e/fan/4/values" value="" />
    <add key="/lpc/it8686e/fan/3/values" value="" />
    <add key="/lpc/it8686e/fan/2/values" value="" />
    <add key="/lpc/it8686e/fan/1/values" value="H4sIAAAAAAAEANsTsb5vzee7HgwMB/7fvB3MxAAFvPl9nDC2a6yqvj2YdeB/yGOEmnuR6uwwNgCV9VP1SAAAAA==" />
    <add key="/lpc/it8686e/fan/0/values" value="H4sIAAAAAAAEAFOUW9+35vNdDwaGA/9LxEKYGIDg7uWNLp7Xk8Dsno3rXGpTIOzHpatcZrRA2DNmr3RZvy4NzHY3XuPiGquqbw/iAM0JeRwMFs/5Ot3l4DWI+iLtGS4HoiHsbydnuMSqQ9hvHk93AQASH6U6hAAAAA==" />
    <add key="/lpc/it8686e/temperature/5/values" value="H4sIAAAAAAAEAJvOtb5vzee7HgwMB/7/0wxhYgADDife/D5OGNuGWVXfHsw+8D/WFqZGxOlepDo7jA0Aun1lI0gAAAA=" />
    <add key="/lpc/it8686e/temperature/4/values" value="H4sIAAAAAAAEAJvOtb5vzee7HgwMB/7/0wxhYgADHSfP60lQtoZTbQqCPaMFxtZyWr8uDc62YVbVtwezD/yPtYWZY+J0L1KdHcYGAETuYLdsAAAA" />
    <add key="/lpc/it8686e/temperature/3/values" value="H4sIAAAAAAAEAJvOtb5vzee7HgwMB/7/0wxhYgCDCkfP60lQdoljbUoSXHxGC0J8/bo0ONuGWVXfHsw+8D/WFmZOgePBa0lw9oFohN5YdYQ4AHOxbCmEAAAA" />
    <add key="/lpc/it8686e/temperature/2/values" value="H4sIAAAAAAAEAJvOtb5vzee7HgwMB/7/0wxhYgADYSfP60lQNp9TbQqMzeU0owUhvn5dGpTN47TzvYq+PZh94P+DgBC4+MFrCL0HomFsDqdYdQQbAHbgiauEAAAA" />
    <add key="/lpc/it8686e/temperature/1/values" value="H4sIAAAAAAAEAJvOtb5vzee7HgwMB/7/0wxhYgADASfe/D5OGHvnexV9ezD7wP8HATA1Ik73ItXZYWwAJyE4WkgAAAA=" />
    <add key="/lpc/it8686e/temperature/0/values" value="H4sIAAAAAAAEAJvOtb5vzee7HgwMB/7/0wxhYgCDE468+X2cMPbO9yr69mD2gf8PAmBqLjjei1Rnh7EBqKKcyEgAAAA=" />
    <add key="/lpc/it8686e/voltage/8/values" value="H4sIAAAAAAAEABP4vq5vzee7HgwMB/632oYwMQBBwtMAB978Pk4YW/eOir49iANUc90Goaa4UZ0dxgYAT3iF7EgAAAA=" />
    <add key="/lpc/it8686e/voltage/7/values" value="H4sIAAAAAAAEAOt7vK5vzee7HgwMB/6zB4YwMQDBue/BDrz5fZwwtu4dFX17EAeo5roNQk1xozo7jA0Ad3i9W0gAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/it8686e/voltage/6/values" value="H4sIAAAAAAAEAOt7vK5vzee7HgwMB/6zB4YwMQABx5o59p7Xk8DsXZ5z7I9M12aHsXXvqOjbgzhA9ddtQuBqwv5B1Oc8n21/IBqhN1Y9CW4mADkxriNsAAAA" />
    <add key="/lpc/it8686e/voltage/5/values" value="H4sIAAAAAAAEAOt7vK5vzee7HgwMB/6zB4YwMQABL1O2vef1JDi7NgXCXnEs235GC0J8/bo0uLjuHRV9exAHaM51G4g5hbZZ9mH/IOoLgOwD0RA2D1BvrDqCDQBQuLQXhAAAAA==" />
    <add key="/lpc/it8686e/voltage/4/values" value="H4sIAAAAAAAEAOt7vK5vzee7HgwMB/6zB4YwMQBB1p4Qe8/rSWC2tH6sfW0Kgj2jBcJuyIqxX78uDczOBqrXvaOibw/iAM25bgMxZ8KhUvuwfxD14jfz7A9EQ9h5z6vtY9WT4GoACGpnrYQAAAA=" />
    <add key="/lpc/it8686e/voltage/3/values" value="H4sIAAAAAAAEAOt7vK5vzee7HgwMB/6zB4YwMQBBTD+TA29+HyeMrXtHRd8exAGquW6DUFPcqM4OYwMAOgMjrUgAAAA=" />
    <add key="/lpc/it8686e/voltage/2/values" value="H4sIAAAAAAAEAOt7vK5vzee7HgwMB/6zB4YwMQDBj2BmB978Pk4Ye8kJFX17EAeoJiEAouaiErND2L8kuPoD0Ulw8Vh1hDgAUTm1e2AAAAA=" />
    <add key="/lpc/it8686e/voltage/1/values" value="H4sIAAAAAAAEAOt7vK5vzee7HgwMB/6zB4YwMQBBTD+TA29+HyeMveSEir49iANUkxAAUXPwFKND2L8kOPtAdBJcb6w6QhwAoXW6omAAAAA=" />
    <add key="/lpc/it8686e/voltage/0/values" value="H4sIAAAAAAAEAAtat65vzee7HgwMB/47t4UwMQDBZd9J9p7Xk8Bs0XXT7WtTIOxPl+baz2iBsDnWzLFfvy4NzHZKmGr/bouKvj2IAzRHLAVizp6SyfZh/yDqua5Ptj8QDWHnCU22j1VPgqsBAOX/KBaEAAAA" />
  </appSettings>
</configuration>